@font-face {
  font-family: 'HoloSymMDL2';
  src:  url('./fonts/segmdl2.ttf');
  font-weight: normal;
  font-style: normal;
}
.ft-icon {
  font-family: 'HoloSymMDL2';
  font-style: normal;
  font-size: 32px;
}
