// 
$prefix: ft;

// color
$default-color: #cccccc;
$active-color: #7a7a7a;
$primary-color: #0078d7;
$black-color: #333333;
$black-hover-color: #000000;
$black-active-color: #666666;
$white-color: #ffffff;
